.back-gray{background-color: rgb(238, 238, 238);}
.second-color{color: #eb586f;}
.second-width{width: 70;}
.default-footer-copy{background:#232935;padding-bottom: 20px;padding-top: 20px;}
.box{border:1px solid; border-radius: 12px; overflow:hidden;}

.professor-container{max-width: 960px; width: 100px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;}
.professor-row{display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;}
.professor-firstblank1{-webkit-box-flex: 0; flex: 0 0 41.666667%; max-width: 41.666667%; position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px;}
.professor-secondblank1{-webkit-box-flex: 0; flex: 0 0 50%; max-width: 50%; position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; margin-left: 8.333333%;}
.professor-firstblank1-1{padding: 0; position: relative; box-shadow: 0 5px 25px 0 rgb(204, 204, 204 / 75%); border-radius: 12px; overflow: hidden; margin-top: 0; transition: margin-top 0.5s;}
.professor-parent{
    width: 78%;
    margin: 10px auto;
    display: flex;
}

.professor-first {
    border: 1px solid red;
    flex: 1;
    max-width: 30%;
    box-sizing: border-box; /* 이 boreder-box라는 부분은 경계선의 두께까지 포함한다는 
    의미이다.*/
}
.professor-middle{
    
    width: 8%;
    box-sizing: border-box;
    margin: 0 auto;
}
.professor-second{
    border: 1px solid green;
    flex: 1;
    
    max-width: 40%;
    box-sizing: border-box;
}
